body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    border: 1px solid #5f9341;
    padding: 8px 5px;
    width: 100%;
    box-sizing: border-box;

}

button {
    background-color: #5f9341;
    font-weight: bold;
    padding: 10px 40px;
    margin-top: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;

}

li a,
li {
    color: #5f9341;
    padding: 5px 2px;
}